<div fxLayout="column" fxFill>
  <article
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    fxFill
  >
    <h1 class="text-center headline">Please Log In to Firebase</h1>

    <button mat-raised-button color="primary" (click)="login()">
      Login with Google
    </button>
  </article>
</div>
