<div class="container" fxLayout=column>
  <nav fxFlex="none">
      <mat-toolbar class="mat-elevation-z10" color="primary">
          <span class="brand-text">Arden Web Exam</span>
      </mat-toolbar>
  </nav>
  <main fxFlex="1 1 auto">
      <router-outlet></router-outlet>
  </main>
</div>